.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-logo-company-tl {
  width: 1.7666015625em;
}

.icon-logo-brand {
  width: 1.7666015625em;
}

.icon-logo-fp {
  width: 1.7666015625em;
}

.icon-logo-company {
  width: 1.7666015625em;
}

.icon-logo-company-th {
  width: 1.7666015625em;
}

.icon-logo-yc {
  width: 1.7666015625em;
}
